extends layout

block content



  h1.
        Ad List:
  div
       each ad, i in ads


               a(href='/ads/#{ad._id}' style='text-decoration: none')
                  div.showAds
                      img.showAds(src='/images/#{ad.mainphoto}' width=150)
                  p #{ad.title}
                  h5 #{ad.price}