extends layout

block content



  h1.
        Ad List:
  ul.a
       each user, i in ads
           li
            div
               a(href='/ads/#{user._id}' style='text-decoration: none')
                  div.img
                      img(src='/images/#{user.mainphoto}' width=150)
                  p #{user.title}
                  h5 #{user.price}