extends layout

block content
  h1= title
  p Welcome to #{title}

  br
  br
  br

  section2
    <a href="http://igor.com:3000/newad"  style="text-decoration: none;">New Ad</a>
  section2
    <a href="http://igor.com:3000/ads"  style="text-decoration: none;">All Ads</a>
