extends layout

block content

        div.inv
          each category, i in categories

            div.category
              a.category(href='/category/#{category._id}', style='text-decoration: none')
                 div.categ
                   p #{category.name}

        form(action='/ads/search', method='post', align='left', enctype='application/x-www-form-urlencoded')
            input.search(type='text', name='search')
            button(type='submit') search
        div
          h5 Bravito — сайт бесплатных объявлений. Миллионы людей в месяц посещают наш сайт. Ежедневно подаются сотни тысяч новых объявлений. Здесь легко найти нужный товар или услугу всего за несколько минут. Для каждого региона и города — своя доска объявлений. У нас есть объявления частных лиц и компаний, объявления о продаже. Вы можете отфильтровать нужные объявления по характеристикам, таким как пробег автомобиля, порода кошки, площадь земельного участка и т.п.
          p
          h5 С Bravito подать бесплатное объявление в интернете стало проще простого. Вам потребуется всего пара минут! Выберите категорию товара и город, напишите заголовок и текст объявления, укажите цену товара, свой e-mail и телефон. Добавьте несколько фотографий — они помогут быстрее продать ваш товар. Желаем выгодных покупок и успешных продаж!
