doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
      div.header
        table.full
           tr
              td(rowspan=2)
               a(href='/')
                 img.logo(src='/images/logo/logo.png', alt='logo', width=180, height=60)
               td.center
                 a.one(href='/ads/newad') new ad
               td.center
                 if session.user_id
                    a.one(href='/users/profile') #{session.email}
                 else
                    a.one(href='/users/login') log in
      hr

  table
      tr
        td.index
          div.left
              each category, i in categories
                  div.category
                      a.category(href='/category/#{category._id}')
                          div.categ
                              p #{category.name}
        td.index
          div.block
            block content
        td.index
            div.right
                div.advertisement
                    p.center Здесь могла бы быть ваша реклама
                div.advertisement
                    p.center Здесь могла бы быть ваша реклама
                div.advertisement
                    p.center Здесь могла бы быть ваша реклама
  hr
  div.header
      p E-mail: info@bravito.ru
