doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body



    table(style={width: '100%'})
     tr
      td
       a(href='/')
         img(src='/images/IMG_0464.jpg' alt='logo' width=230 height=80)
      td
       a.one(href='/ads' style='text-decoration: none')  all ads
      td
       a.one(href='/ads/newad' style='text-decoration: none') new ad
    block content
