doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    table(style={width: '100%'})
     tr
      td
       a(href='/' style='text-decoration: none') Index page
      td
       a(href='/ads' style='text-decoration: none') All ads
      td
       a(href='/ads/newad' style='text-decoration: none') New add
    block content
