doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
      div.header
        table(style={width: '100%'})
           tr
              td(rowspan=2)
               a(href='/')
                 img.logo(src='/images/logo/logo.png', alt='logo', width=280, height=80)
               td
                 a.one(href='/ads/newad') new ad
               td
                 if session.user_id
                    a.one(href='/users/profile') profile
                 else
                    a.one(href='/users/login') log in
           tr
               td(colspan=2)
                 if session.user_id
                   p #{session.email}

      hr
  block content

  div.footer
      hr
      p E-mail: info@bravito.ru