doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    table(style={width: '100%'})
       tr
          td
           a(href='/')
             img.logo(src='/images/logo/logo.png', alt='logo', width=280, height=80)
           p #{session.email}
          if session.user_id
              td
               a.one(href='/ads/newad') new ad
              td
               a.one(href='/users/profile') profile
          else
              td
               a.one(href='/users/login') log in

      hr
  block content

  div.footer
      hr
      p E-mail: info@bravito.ru