extends layout

block content
  h1 Fill in the fields

  div


     form#formAddAd(name='addad' action='/ads/addad' method='post' enctype='multipart/form-data')

       h1 User information

       p Name:
       input#inputUserName(type='text' name='username')
       p E-mail:
       input#inputUserEmail(type='email' name='useremail')
       p Telephone:
       input#UserTelephone(type='tel' name='usertelephone')

       h1 Item information

       p Title:
       input#inputAdTitle(type='text' name='adtitle' maxlength=60 size=42)
       p Description:
       textarea#textareaAdDescription(name='addescription' rows='10' cols='40')
       p Price:
       input#inputAdPrice(type='text' name='adprice' size=8)
       p
       input#inputAdPhotos(type='file' name='adphotos')
       p
       button#btnSubmit(type='submit') Save