extends ../layout

block content
 h1 Edit user information

 div

    form(name='userinfo', action='/users/edit', method='post', onsubmit='return validateForm()', enctype='application/x-www-form-urlencoded')
        p Email: #{user.email}
        p Telephone:
            input(type='text', value=(user.telephone !== undefined ? '#{user.telephone}' : ''), name='telephone')
        p Change password
        table
             tr
               td
                 h6 old password
                 input(type='password', value='#{user.password}', name='oldpass')
             tr
               td
                 h6 new password
                 input(type='password', name='newpass1')
             tr
               td
                 h6 new password again
                 input(type='password', name='newpass2')
            p
        button(type='submit') Save

 script(type='text/javascript').
    function validateForm() {
        var old = document.forms['userinfo']['oldpass'].value;
        var new1 = document.forms['userinfo']['newpass1'].value;
        var new2 = document.forms['userinfo']['newpass2'].value;


        if (old == null || old == '') {
            alert('Incorrect enter of old password');
            return false;
        }
        if (new1 != new2) {
            alert('Incorrect enter of new password');
            return false;
        }

    }
