extends ../layout


block content

 div.signup

    form(name='login', action='#{formAction}', onsubmit='return validateForm()', method='post', enctype='application/x-www-form-urlencoded')

        if message.length > 0
            div.msg
                p #{message}

        p E-mail:
            input(type='email', name='useremail', autofocus)
        p Password:
            input(type='password', name='password')
        p
            button(type='submit') #{btnValue}

            if btnValue == 'Log in'
                p Need an account?
                   a.three(href='/users/signup/', style='text-decoration: none') Sign up
            else
                p Have an account?
                    a.three(href='/users/login/', style='text-decoration: none') Log in

 script(type='text/javascript', src='/javascripts/validator.min.js').
 script(type='text/javascript').
    function validateForm() {
        var email = document.forms['login']['useremail'].value;
        if (email == null || email == '' || !validator.isEmail(email)) {
            alert('Incorrect enter of Email');
            return false;
        }
        var pass = document.forms['login']['password'].value;
        if (pass == null || pass == '' || !validator.isAlphanumeric(pass)) {
            alert('Incorrect enter of password');
            return false;
        }

    }
