extends ../layout


block content

 div.signup

    form(name='login', action='#{formAction}', onsubmit='return validateForm()', method='post', enctype='application/x-www-form-urlencoded')

        if message.length > 0
            div.msg
                p #{message}
        table
            tr
              td
                p E-mail:
              td
                input(type='email', name='useremail', autofocus)
            tr
              td
                p Password:
              td
                input(type='password', name='password')
        p
            button(type='submit', class=(btnValue == 'Log in' ? 'login' : 'signup')) #{btnValue}

            if btnValue == 'Log in'
                p Need an account?
                   a.three(href='/users/signup/') Sign up
            else
                p Have an account?
                    a.three(href='/users/login/', style='color: PaleTurquoise') Log in

 script(type='text/javascript', src='/javascripts/validator.min.js').
 script(type='text/javascript').
    function validateForm() {
        var email = document.forms['login']['useremail'].value;
        if (email == null || email == '' || !validator.isEmail(email)) {
            alert('Incorrect enter of Email');
            return false;
        }
        var pass = document.forms['login']['password'].value;
        if (pass == null || pass == '') {
            alert('Incorrect enter of password');
            return false;
        }

    }
