extends ../layout


block content

 h1 Hi, #{user.username}

  div
    p E-mail:   #{user.email}
    p Password:   #{user.password}
    p Telephone: #{user.telephone}
    a.two(href='/users/logout', style='text-decoration: none') Log out
