extends ../layout


block content

  h1 Hello

  div
    p E-mail:   #{user.email}
    p Password:   #{user.password}
    p Telephone: #{user.telephone}
  a.one(href='/users/logout', style='text-decoration: none') Log out
