
body {
  padding: 20px;
  font: 20px Comfortaa, Helvetica, Arial, sans-serif;
  color: white;
  background: #247BA7;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Thin.ttf');
}
.raleway {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Light.ttf");
}
.comfortaa {
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
}

select,
textarea,
input {
  border: 0;
  border-radius: 5px;
  margin: 10px;
  font-size: 20px;
  background: WhiteSmoke;
}

input.search {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  margin: 5px;
  text-indent: 15px;
}

button.search {
  margin: 0;
  background: goldenrod;
  border: 0;
  border-radius: 10px;
  padding: 7px 25px 7px 25px;
}

a {
  font-size: 25px;
  color: white;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  text-decoration: none;
}

a.one {
  background: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;  }

a.two {
  border: 2px solid white;
  margin-left: 60px;
  background: none;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  font-family: Helvetica,  Arial, sans-serif;
}

a.three {
  color: #aa5500;
  font-size: 30px;
  padding: 30px;
}

a.four {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  margin-left: 5px;
}

a.three:hover { color: gold }
a.four:visited { color: gold; border-color: gold }
a.four:hover,
a.one:hover { background: LightSeaGreen }
a.two:hover { background: #ffff4f; color: black }


ul.a {
  list-style-type: none;
}

li.a {
  display: inline;
}

h5 {
  padding: 10px;
  margin: auto;
}

h6 {
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;
  font-size: small;
}

div {
  overflow: auto;
  background-color: #60AB91;
  opacity: 50;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  margin: 20px;
}

div.footer {
  width: 100%;
  margin: 0;
  background: none;
  padding: 0;
}

div.msg {
  background: Teal;
  border-radius: 10px;
  width: 270px;
}

div.category {
  margin: auto;
  padding: 0;
  width: 250px;
}

div.categ {
  margin: 0;
  padding: 10px
}

div.categ:hover {background: seagreen }

div.inv {
  width: 250px;
  padding: 0;
  float: left;
}

div.search {
  padding: 10px 20px 10px 20px;
  width: 530px;
}

p {
  padding: 5px;
  font-size: 20px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  margin: auto;
  color: yellow;
}



button {
  font-size: 21px;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: white;
}
button:hover {  background: steelblue  }


td {
  padding: 0;
}

div.signup {
  width: 350px;
  margin: auto;
}

div.img,
div.fileUpload {
  border: 2px solid white;
  overflow: hidden;
  float: left;
  position: relative;
  margin: 10px;
  width: 150px;
}

div.img:hover {
  width: 300px;
  transition: width 1s linear;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 300px;
  opacity: 0;
  filter: alpha(opacity=0);
}

div.fileUpload:hover { background: #ffff4f }

img.showAds {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  float: left;

}

img.show {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
}

img.show:hover {
  width: 300px;
  transition: width 1s linear;
}

