
body {
  padding-left: 60px;
  font: 20px "Comfortaa", Helvetica, Arial, sans-serif;
  background: #DCDCDC ;
}
@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-Thin.ttf");
}
.raleway {
  font-family: Raleway;
}

@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Light.ttf");
}
.comfortaa {
  font-family: Comfortaa;
}

textarea,
input {
  border: 1px solid #000000;
  border-radius: 5px;
  font-family: OpenSans;
  margin: 30px;
  font-size: 20px;
}

a.one {
  Font-size: 30px;
  background-color: #cacaca;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
}

a.two {
  font: 30px black;
  border: 4px solid black;
  margin-left: 60px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px 60px 10px 50px;
  font-family: Helvetica;
}

a {
  color: #000000;
  font-size: 30px;
}

a:hover { text-shadow: 1px 1px black }
a.one:hover { background: #778899}
a.two:hover { background: #ffff4f; color: black }

section1 {
  border: 5px #000000 solid;
}

p {
  font-size: 25px;
}

ul.a {
  list-style-type: none;
}

h5 {
  padding-left: 20px;
  margin-top: auto;
}

div {
  overflow: auto;
  background-color: #778899;
  width: auto;
  padding: 25px;
  border: 4px solid black;
  border-radius: 20px;
  margin: 10px;
}

div.img {

  float: left;
  width: 150px;
  margin-right: 30px;
}

p {
  font-family: Raleway;
}

button {
  font-size: 30px;
  border: 4px solid black;
  margin-left: 60px;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
}
button:hover { background: #ffff4f }