
body {
  padding: 20px;
  font: 20px "Comfortaa", Helvetica, Arial, sans-serif;
  background: #DCDCDC ;
}
@font-face {
  font-family: Raleway;
  src: url("fonts/Raleway-Thin.ttf");
}
.raleway {
  font-family: Raleway;
}

@font-face {
  font-family: Comfortaa;
  src: url("fonts/Comfortaa-Light.ttf");
}
.comfortaa {
  font-family: Comfortaa;
}

textarea,
input {
  border: 1px solid #000000;
  border-radius: 5px;
  margin: 30px;
  font-size: 20px;
}

a.one {
  Font-size: 30px;
  background-color: #cacaca;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  white-space: nowrap;
}

a.two {
  font: 30px black;
  border: 4px solid black;
  margin-left: 60px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px 30px 10px 30px;
  font-family: Helvetica;
}

a {
  color: #000000;
  font-size: 30px;
}

a:hover { text-shadow: 1px 1px black }
a.one:hover { background: #778899}
a.two:hover { background: #ffff4f; color: black }

section1 {
  border: 5px #000000 solid;
}

p {
  font-size: 25px;
  padding: 5px;
}

ul.a {
  list-style-type: none;
}

h5 {
  padding-left: 20px;
  margin: auto;
}

div {
  background-color: #778899;
  padding: 20px;
  border: 4px solid black;
  border-radius: 20px;
  margin: 20px;
}

p {
  font-family: Raleway;
  margin: auto;
}

input {
  margin: 20px;
}
button {
  font-size: 30px;
  border: 4px solid black;
  margin-left: 60px;
  cursor: pointer;
  background-color: lightblue;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;

}
button:hover {  background: #33aa33  }

textarea {  margin-top: auto; }


div.showAds {
  margin: 10px;
  width: 150px;
}

div.signup {
  width: 430px;
  margin: auto;
}

div.img,
div.fileUpload {
  float: left;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 150px;
}

div.img:hover {
  width: 300px;
  transition: width 1s linear;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 300px;
  opacity: 0;
  filter: alpha(opacity=0);
}

div.fileUpload:hover { background: #ffff4f }

img.showAds {
  width: 150px;
}

img.show {
  width: 150px;
}

img.show:hover {
  width: 300px;
  transition: width 1s linear;
}

