
body {
  padding: 0;
  margin: 0;
  font: 16px Roboto-Thin, Helvetica, Arial, sans-serif;
  color: darkslategray;
  background: #EAF1F1
}

header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

                                         /*     I N P U T      */

select,
textarea,
input {
  border: 1px solid whitesmoke;
  border-radius: 6px;
  margin: 10px;
  font-size: 18px;
  background: WhiteSmoke;
  text-indent: 5px;
}

textarea {
  padding: 7px;
}

select {
  height: 32px;
  margin: 0;
  width: 220px;
}

input {
  height: 26px;
}

select:focus,
textarea:focus,
input:focus {
  outline: 0;
  border: 1px solid goldenrod;
  box-shadow: 0 0 2px 2px goldenrod;
  transition: box-shadow 0.3s
}

input.search:focus {
  box-shadow: none;
}

input.title {
  margin: 0;
}

input.search {
  width: 400px;
  height: 30px;
  border-radius: 10px 0 0 10px;
  margin: 0;
  text-indent: 15px;
}

input.captcha {
  margin: 8px;
  width: 90px;
  height: 35px;
  font-size: 23px;
  text-align: center;
  text-indent: 0;
}

input.login {
  margin: 0 10px 5px 10px;
}

                                 /*   B U T T O N S   */

button {
  font-size: 18px;
  border: 1px solid white;
  margin: 10px;
  cursor: pointer;
  background: #7FB1B3;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-family: Roboto-Light, Helvetica, Arial, sans-serif;
  color: white;
}

button.search {
  margin: 0;
  background: goldenrod;
  border-radius: 0 10px 10px 0;
  border: 0;
  padding: 5px 25px 5px 25px;
  font-size: 20px;
  width: 110px;
}

button.signup {
  background: Peru;
  padding: 10px 30px 10px 20px;
}

button.login {
  background: SandyBrown;
  padding: 10px 30px 10px 20px;

}

button.login:hover,
button.signup:hover,
button.search:hover {
  background: whitesmoke;
  transition: background 0.5s;
  color: goldenrod;
  border: 1px solid goldenrod;
}

button:hover {
  background: white;
  color: CadetBlue;
  transition: background 0.5s;


}


                              /*     D I V S     */
div {
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

div.msg {
  background: Teal;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: white;
}

div.category {
  width: 200px;
}

div.categ {
  padding: 10px;
}

div.left {
  width: 200px;
  padding: 0 5px 0 0;
}

div.invCaptcha {
  width: 230px;
}


div.block {
  width: 660px;
}

div.captcha {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: 2px solid white;
  width: 200px;
  border-radius: 7px;
}

div.header {
  box-shadow: 2px 2px 6px 3px gray;
  background-color: CadetBlue;
}

div.bravito {
  margin: 0;
  padding: 15px;
  white-space: normal;
  background: #D1E0E0;
}

div.advertisement {
  width: 200px;
  height: 300px;
  white-space: normal;
  border: 2px solid #7DA1A1;
  margin: 0 0 5px 5px;
}

div.delete{
  margin: 0 45px 0 45px;
}

div.lang {
  background: darkgoldenrod;
}


div.signup {
  width: 330px;
  padding: 20px;
  margin: auto;
  background: #7FB1B3;
}

div.img,
div.fileUpload {
  border: 2px solid white;
  float: left;
  position: relative;
  margin: 0 10px 0 10px;
  width: 150px;
  padding: 20px;
  border-radius: 5px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 300px;
  opacity: 0;
  height: 200px;
  filter: alpha(opacity=0);
}

div.lang:hover {
  background: goldenrod;
  transition: background 0.5s;
}
div.fileUpload:hover { background: #ffff4f }

.divHover:hover {
  background: #7FB1B3;
  transition: background 0.5s, text-indent 0.3s;
  color: whitesmoke;
  text-indent: 10px;
}

div.img:hover {
  width: 300px;
  transition: width 1s linear;
}

                                       /*     L I N K S    */

.whiteText {
  color: white;
}

a {
  border-radius: 10px;
  background: none;
  font-size: 20px;
  color: darkslategray;
  font-family: Roboto-Light, Arial, sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

a.one {
  border: 0;
  padding: 6px 20px 6px 20px;
  color: white;
}

a.two {
  color: gold;
  font-size: 16px;
  margin: 30px;
}

a.three {
  margin: 20px;
}

a.four {
  border: 2px solid goldenrod;
  padding: 5px 15px 5px 15px;
  margin: 3px;
  font-size: 16px;
  color: goldenrod;
}

a.five {
  border: 3px solid goldenrod;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  color: goldenrod;
  font-size: 16px;
}

a.six {
  border: 2px solid cadetblue;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  color: cadetblue;
  font-size: 16px;
}

a.seven {
  font-size: 16px;
  color: white;
}

a.img {
  padding: 0;
  font-size: 15px;
  margin: auto;
  color: yellow;
}

a.seven:hover { color: white }
a.two:hover { color: #EBB85C }
a.three:hover { color: goldenrod}
a.four:visited { color: cadetblue; border-color: cadetblue }
a.six:hover,
a.four:hover,
a.one:hover {
  background: goldenrod;
  transition: background 0.5s;
  color: white
}

h1 {
  color: goldenrod;
  margin: 0;
  padding: 10px;
}


h6 {
  margin: 0;
}

p {
  padding: 5px;
  font-size: 16px;
  font-family: Roboto-Light, Arial, sans-serif;
  margin: auto;
}


p.logo {
  font-size: 30px;
}

p.med {
  padding: 5px;
  margin: auto;
  font-size: 18px;
}

p.validateErr {
  text-align: right;
  font-size: 12px;
  padding: 0 12px 0 0 ;
  color: orange;
  vertical-align: bottom;
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
  visibility: hidden
}

p.img {
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  visibility: hidden
}

p.link {
  font-size: 20px;
  display: inline;
}

p.small {
  font-size: 14px;
}

.img:hover{
  color: goldenrod;
}

table {
  border-collapse: collapse;
}


table.full {
  width: 100%;
}

td {
  padding: 0;
}

td.gold {
  width: 60px;
}

.t {
  vertical-align: top;
}

.b {
  vertical-align: bottom;
}

.c {
  vertical-align: middle;
}

.r {
  text-align: right;
}

.l {
  text-align: left;
}

img.showAds {
  width: 150px;
  margin: 5px;
  border-radius: 3px;
  float: left;
}

img.show {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
}

img.show:hover {
  width: 300px;
  transition: width 1s linear;
}

ul.a {
  list-style-type: none;
}

li.a {
  display: inline;
}

hr.hdr {
  background-color: goldenrod;
  height: 1px;
  border: 0;
}

.inline {
  display: inline;
}

.center {
  text-align: center;
}

