
body {
  height:100%;
  padding: 0;
  margin: 0;
  font: 16px Roboto-Light, Helvetica, Arial, sans-serif;
  color: darkslategray;
  background: #EAF1F1
}

header {
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.5);
  background: #5F9EA0;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.99;
    z-index: 5;
}

footer {
  box-shadow: 0 -3px 6px 2px rgba(0, 0, 0, 0.5);
  background-color: #5F9EA0;
  width: 100%;
  padding: 5px;
  position: absolute;
  bottom: 0;
}

div.wrapper {
  min-height:100%;
  position:relative;
}

div.contents {
  padding-bottom: 120px;
  padding-top: 50px;
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

                                         /*     I N P U T      */

select,
textarea,
input {
  border: 1px solid whitesmoke;
  border-radius: 1px;
  margin: 10px;
  font-size: 15px;
  background: WhiteSmoke;
  transition: box-shadow 0.3s
}

textarea {
  padding: 7px;
  margin: 5px;
}

select {
  height: 32px;
  margin: 0;
  width: 220px;
  text-indent: 5px;
}

input {
  text-indent: 5px;
  height: 30px;
}

select:focus,
textarea:focus,
input:focus {
  outline: 0;
  border: 1px solid goldenrod;
  box-shadow: 0 0 2px 2px goldenrod;
}

input.search:focus {
  box-shadow: none;
}

input.title {
  margin: 2px;
}

input.search {
  width: 400px;
  height: 34px;
  margin: 0 auto;
  text-indent: 15px;
  vertical-align: middle;
}

input.captcha {
  margin: 8px;
  width: 90px;
  height: 35px;
  font-size: 23px;
  text-align: center;
  text-indent: 0;
}

input.login {
  margin: 0 10px 5px 10px;
  width: 200px;
}

                                 /*   B U T T O N S   */

button {
  font-size: 16px;
  border: 1px solid #267D7D;
  margin: 15px;
  cursor: pointer;
  background: #267D7D;
  padding: 10px 25px 10px 25px;
  min-width: 100px;
  font-family: Roboto-Light, Helvetica, Arial, sans-serif;
  color: white;
  transition: all 0.5s;
}

button.search {
  margin: 0 0 0 5px;
  background: goldenrod;
  border: 0;
  display:inline-block;
  min-height: 29px;
  padding: 3px 25px 5px 25px;
  font-size: 20px;
  width: 110px;
  height: 34px;
  vertical-align: middle;
}

button.signup {
  background: #4F659D  ;
  border: 1px solid #4F659D ;
}

button.login {
  background: darkgoldenrod;
  border: 1px solid darkgoldenrod ;
}

button.login:hover {
  background: goldenrod;
  box-shadow: 0 5px 8px 1px darkgoldenrod;
}

button.signup:hover {
  background: #5C75A5;
  box-shadow: 0 5px 8px 1px #4F659D;
}
button.search:hover {
  background: darkgoldenrod;
  box-shadow: none;
}

button:hover {
  background: #408C8C;
  box-shadow: 0 5px 8px 1px #267D7D;
  color: whitesmoke;
}

button:active {
  box-shadow: none;
  background: #267D7D;
}

button.login:active {
  background: #DCAA2B;
  box-shadow: none;
}

button.signup:active {
  background: #4F659D;
  box-shadow: none;
}

button.index {
  background: goldenrod;
  height: 100px;
  width: 120px;
  white-space: normal;
  padding: 10px;
  border: 0;
}

button.index:hover {
  background: teal;
}

button.outForm {
  margin: 0;
}



                              /*     D I V S     */
div {
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  white-space: nowrap;
  transition: all 0.2s linear;
}

div.msg {
  background: Teal;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: white;
  white-space: normal;
}

div.categ {
  padding: 10px;
  height: 28px;
}

div.left {
  width: 170px;
  padding: 0 5px 0 0;
}

div.invCaptcha {
  width: 230px;
  margin: 0
}

div.indexCategory {
  text-align: center;
  width: 100%;
  height: 50px;
  background: teal;
  color: white;
  margin-bottom: 10px;
}

div.indexCategory:hover {
  background: #5F9EA0;
}

div.block {
  width: 620px;
}

div.captcha {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: 2px solid white;
  width: 200px;
  border-radius: 7px;
}

div.index {
  width: 700px;
}

div.header {
  height: 28px;
}

div.bravito {
  padding: 15px;
  white-space: normal;
  background: #9FC4C6;
}

div.ads {
  padding: 12px;
  margin: 5px;
  white-space: normal;
  background: #9FC4C6;
  position: relative;
}

div.status {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

div.advertisement {
  width: 170px;
  white-space: normal;
  padding-bottom: 20px;
  margin: 0 0 10px 5px;
    background: #ECD276;
}

div.advertisement:hover {
  background: #C0D8D9;
  color: #006666
}

div.column {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

div.search {
  width: 530px;
  height: 34px;
}

div.delete{
  margin: 0 0 0 45px;
}

.lang {
  background: darkgoldenrod;
  height: 24px;
}

div.scale {
  height: 4px;
  max-width: 320px;
  margin: 5px;
  border-radius: 20px;
}

div.signup {
  width: 330px;
  padding: 20px;
  margin: 0 auto;
  background: #9FC4C6;
}

div.alert {
  display: none;
}

div.content {
  position: fixed;
  background: white;
  width: 40%;
  min-width: 400px;
  padding: 20px;
  top: 30%;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
  z-index: 100000;
}

div.button {
  border: 2px solid gold;
  width: 150px;
  height: 132px;
}

div.width {
  width: 220px;
}

div.adImg {
  float: left;
  width: 120px;
  height: 120px;
  text-align: center;
  margin-right: 15px;
}

div.img {
  visibility: hidden;
  cursor: pointer;
  font-size: 28px;
  position: absolute;
  right: -2px;
  bottom: -2px;
  padding: 2px 5px;
  color: white;
  border: 2px solid white;
  border-radius: 4px 0px;
  transition: all 0.4s ease;
  z-index: 2;
}

div.img:hover {
  color: gold;
  background: white;
}

div.fileUpload {
  border: 2px solid white;
  float: left;
  position: relative;
  margin: 0 10px 0 10px;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 8px;
  opacity: 0;
  height: 200px;
  filter: alpha(opacity=0);
  margin: -20px 0 0 0;
}

[disabled] { cursor: auto !important; }

[disabled] + img { opacity: 0.5; }

div.lang:hover {
  background: goldenrod;
}
div.fileUpload:hover { background: #C0D8D9; }

.divHover:hover {
  background: #7FB1B3;
  color: whitesmoke;
  text-indent: 10px;
}

.divHover2:hover {
  background: Teal;
}

div.ads:hover {
  box-shadow: 1px 3px 6px 1px gray;
}

div.editLink {
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 0;
  padding: 3px 3px 1px 0px;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  transition: all 0.4s ease;
  text-transform: lowercase;
  text-indent: 6px;
}

div.editLink:hover {
  font-size: 16px;
  color: darkslategray;
  border-color: darkslategray
}

div.title {
  position: relative;
  margin-top: 15px
}

div.image {
  width: 580px;
  height: 500px;
  background: #C0D8D9;
  border-radius: 10px;
  white-space: nowrap;
  text-align: center;
}


div.thumbnail {
  display: table;
}

                                       /*     L I N K S    */

a {
  background: none;
  color: darkslategray;
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.5s;
}

a.one {
  font-size: 16px;
  color: white;
}

a.two {
  color: lightgoldenrodyellow;
  font-size: 16px;
  margin: 30px;
}

a.three {
  margin: 20px;
  white-space: normal;
}

a.four {
  padding: 5px 15px 5px 15px;
  font-size: 16px;
  color: white;
  background: #7FB1B3;
}

a.five {
  padding: 7px 15px 7px 15px;
  color: white;
  font-size: 16px;
  background: goldenrod;
}

a.six {
  padding: 5px 15px 5px 15px;
  color: lightblue;
  font-size: 16px;
  background: #7FB1B3;
}

a.img {
  padding: 0;
  font-size: 15px;
  margin: auto;
}

a.greenButton {
  font-size: 16px;
  border: 1px solid #267D7D;
  margin: 15px;
  background: #267D7D;
  padding: 10px 20px 10px 20px;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

a.footer {
  color: white;
  font-size: 12px;
}

a.footer:hover { color: #00FFFF }
a.seven:hover { color: white }
a.three:hover { color: goldenrod }
a.two:hover,
a.four:visited { color: gold }
a.six:hover,
a.four:hover {
  padding: 9px 15px 9px 15px;
  background: #72A4AB;
  color: white;
}
a.one:hover {
  background: goldenrod;
  color: white
}

a.greenButton:hover {
  background: #408C8C;
  box-shadow: 1px 5px 8px 1px #267D7D;
  color: whitesmoke;
}

a.greenButton:active {
  box-shadow: none;
  background: #267D7D;
}

a.button {
  -webkit-transition: all 800ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 800ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 800ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 800ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  display: block;
  margin: 20px auto;
  width: 110px;
  border-radius: 4px;
  padding: 40px 30px;
  color: #008080;
  box-shadow: #008080 0 0 0 3px inset;
  cursor: pointer;
  font-size: 19px;
  white-space: normal;
  background: #8fbabc;
  animation: pulse 3s infinite;
  text-align: center;
}

@keyframes pulse {
  0% {  @include transform(scale(1));  box-shadow: #5F9EA0 0 0 0 3px inset;}
  50% {  @include transform(scale(1));  box-shadow: #EAF1F1 0 0 0 3px inset;  }
  100% {  @include transform(scale(1));  box-shadow: #008080 0 0 0 3px inset;  }
}

a.button:hover {
  animation: none;
  color: white;
  box-shadow: darkgoldenrod 0 0 0 80px inset;
}

a.button:active {
  padding: 45px 35px;
  transition: padding 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
}

h1 {
  font-family: Roboto-Thin, Arial, sans-serif;
  color: lightgoldenrodyellow;
  margin: 5px;
  padding: 0;
}

h1.teal {
  color: #007f80;
  letter-spacing: -1px;
}

h2 {
  padding: 5px;
}

h6 {
  margin: 0;
}

p {
  padding: 4px;
  font-size: 15px;
  margin: auto;
}

p.status {
    color: orangered;
    font-size: 18px
}

p.big {
  font-size: 18px;
}

p.logo {
  font-size: 30px;
}

p.med {
  padding: 5px;
  margin: auto;
  font-size: 18px;
  color: ivory;
  font-style: italic;
}

p.validateErr {
  text-align: right;
  font-size: 12px;
  padding: 0 5px 0 0 ;
  color: lightgoldenrodyellow ;
  vertical-align: bottom;
  visibility: hidden
}

p.img {
  padding: 0;
  cursor: pointer;
  visibility: hidden
}

p.link {
  color: white;
}

p.small {
  font-size: 13px;
}

p.micro {
  font-size: 12px;
}

p.index {
  padding: 16px;
  font-size: 16px;
}

table {
  border-collapse: collapse;
}

table.user {
    margin: auto;
}

table.full {
  width: 100%;
}

td {
  padding: 0;
}

td.footer {
  padding: 8px;
  text-align: center;
}

td.gold {
  width: 60px;
}

td.info {
  padding-left: 20px;
}

.t {
  vertical-align: top;
}

.b {
  vertical-align: bottom;
}

.c {
  vertical-align: middle;
}

.r {
  text-align: right;
}

.l {
  text-align: left;
}

img.logo {
  width: 110px;
  padding-left: 20px;
  vertical-align: middle;
}

img.goods {
  width: 450px;
  margin: 10px 0 20px 10px;
}

img.showAds {
  max-width: 120px;
  max-height: 120px;
  border-radius: 3px;
  vertical-align: middle;
  padding: 5px;
}

img.main {
  width: 150px;
  max-height: 200px;
  margin: 10px;
  border-radius: 5px;
}

img.show {
  float: none;
  max-width: 570px;
  max-height: 490px;
  vertical-align: middle;
}

img.preview {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

li {
  display: inline-block;
}

hr {
  background-color: lightgoldenrodyellow;
  height: 1px;
  border: 0;
  margin: 2px;
}

.iln {
  display: inline;
}

.center {
  text-align: center;
}

.fr {
  float: right
}

.fl {
  float: left
}

span.x {
  font-size: 55px;
}

span.bgAlert {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  z-index: 10000;
}

span.count {
  margin-left: 10px;
  color: orange;
  font-style: italic;
  font-size: 12px;
}

li.b {
  display: block;
  background: #009595;
  text-align: left;
}

ul.b {
  display: none;
  background: none;
  padding: 0;
  position: absolute;
  width: 240px;
  margin: 13px 0 0 0;
  box-shadow: 6px 8px 8px 0 rgba(0, 0, 0, 0.5);
}

ul.b:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid teal;
  margin: 0 0 0 16px;
  border-radius: 0;
}

span.fa-pencil-square-o {
  font-size: 22px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}







