
body {
  padding: 0;
  margin: 0;
  font: 16px Roboto-Thin, Helvetica, Arial, sans-serif;
  color: darkslategray;
  background: #EAF1F1
}

header {
  width: 100%;
  position: fixed;
  z-index: 3;
}

@font-face {
  font-family: Roboto-Thin;
  src: url('../fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
  font-family: Roboto-Light;
  src: url('../fonts/roboto/Roboto-Light.ttf');
}

                                         /*     I N P U T      */

select,
textarea,
input {
  border: 1px solid whitesmoke;
  border-radius: 1px;
  margin: 10px;
  font-size: 15px;
  background: WhiteSmoke;
  text-indent: 5px;
}

textarea {
  padding: 7px;
}

select {
  height: 32px;
  margin: 0;
  width: 220px;
}

input {
  height: 25px;
}

select:focus,
textarea:focus,
input:focus {
  outline: 0;
  border: 1px solid goldenrod;
  box-shadow: 0 0 2px 2px goldenrod;
  transition: box-shadow 0.3s
}

input.search:focus {
  box-shadow: none;
}

input.title {
  margin: 2px;
}

input.search {
  width: 400px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  margin: 0;
  text-indent: 15px;
}

input.captcha {
  margin: 8px;
  width: 90px;
  height: 35px;
  font-size: 23px;
  text-align: center;
  text-indent: 0;
}

input.login {
  margin: 0 10px 5px 10px;
  width: 200px;
}

                                 /*   B U T T O N S   */

button {
  font-size: 16px;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
  background: #7FB1B3;
  border-radius: 5px;
  padding: 7px;
  min-width: 120px;
  font-family: Roboto-Light, Helvetica, Arial, sans-serif;
  color: white;
}

button.search {
  margin: 0;
  background: goldenrod;
  border-radius: 0 5px 5px 0;
  border: 0;
  padding: 4px 25px 6px 25px;
  font-size: 20px;
  width: 110px;
}

button.signup {
  background: Peru;
  padding: 10px 30px 10px 20px;
}

button.login {
  background: SandyBrown;
  padding: 10px 30px 10px 20px;

}

button.login:hover,
button.signup:hover,
button.search:hover {
  background: darkgoldenrod;
  transition: background 0.5s;
  color: white;
}

button:hover {
  background: white;
  color: CadetBlue;
  transition: background 0.5s;
}


                              /*     D I V S     */
div {
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

div.msg {
  background: Teal;
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: white;
}

div.categ {
  padding: 10px;
  height: 28px;
}

div.left {
  width: 200px;
  padding: 0 5px 0 0;
}

div.invCaptcha {
  width: 230px;
}


div.block {
  width: 660px;
}

div.captcha {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: 2px solid white;
  width: 200px;
  border-radius: 7px;
}

div.header {
  box-shadow: 2px 2px 6px 3px gray;
  background-color: #5F9EA0;
}

div.bravito {
  padding: 15px;
  white-space: normal;
  background: #9FC4C6;
}

div.advertisement {
  width: 200px;
  height: 300px;
  white-space: normal;
  border: 2px solid #7DA1A1;
  margin: 0 0 5px 5px;
}

div.search {
  width: 530px;
  margin: 0 auto;
  height: 34px;
}

div.delete{
  margin: 0 45px 0 45px;
}

div.lang {
  background: darkgoldenrod;
}

div.scale {
  height: 7px;
  max-width: 195px;
  margin: 5px;
  border-radius: 20px;
}

div.signup {
  width: 330px;
  padding: 20px;
  margin: auto;
  background: #9FC4C6;
}

div.img,
div.fileUpload {
  border: 2px solid white;
  float: left;
  position: relative;
  margin: 0 10px 0 10px;
  width: 150px;
  padding: 20px;
  border-radius: 5px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  font-size: 300px;
  opacity: 0;
  height: 200px;
  filter: alpha(opacity=0);
}

div.lang:hover {
  background: goldenrod;
  transition: background 0.5s;
}
div.fileUpload:hover { background: lightgoldenrodyellow; transition: background 0.5s; }

.divHover:hover {
  background: #7FB1B3;
  transition: background 0.5s, text-indent 0.3s;
  color: whitesmoke;
  text-indent: 10px;
}

.divHover2:hover {
  background: Teal;
  transition: background 0.5s;
}

div.img:hover {
  width: 300px;
  transition: width 1s linear;
}

                                       /*     L I N K S    */

a {
  border-radius: 10px;
  background: none;
  font-size: 20px;
  color: darkslategray;
  font-family: Roboto-Light, Arial, sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

a.one {
  font-size: 16px;
  color: white;
}

a.two {
  color: lightgoldenrodyellow;
  font-size: 16px;
  margin: 30px;
}

a.three {
  margin: 20px;
}

a.four {
  padding: 5px 15px 5px 15px;
  border-radius: 0;
  font-size: 16px;
  color: white;
  background: #7FB1B3;
}

a.five {
  padding: 7px 15px 7px 15px;
  border-radius: 0;
  color: white;
  font-size: 16px;
  background: goldenrod;
}

a.six {
  padding: 5px 15px 5px 15px;
  border-radius: 0;
  color: lightblue;
  font-size: 16px;
  background: #7FB1B3;
}

a.seven {
  font-size: 16px;
  color: white;
}

a.img {
  padding: 0;
  font-size: 15px;
  margin: auto;
}

a.seven:hover { color: white }
a.two:hover { color: gold }
a.three:hover { color: goldenrod }
a.four:visited { color: lightblue }
a.six:hover,
a.four:hover {
  padding: 9px 15px 9px 15px;
  background: #72A4AB;
  transition: background 0.5s, padding 0.3s;
  color: white;
}
a.one:hover {
  background: goldenrod;
  transition: background 0.5s;
  color: white
}

h1 {
  color: lightgoldenrodyellow;
  margin: 5px;
  padding: 0;
}


h6 {
  margin: 0;
}

p {
  padding: 4px;
  font-size: 15px;
  font-family: Roboto-Light, Arial, sans-serif;
  margin: auto;
}


p.logo {
  font-size: 30px;
}

p.med {
  padding: 5px;
  margin: auto;
  font-size: 18px;
  color: ivory;
}



p.validateErr {
  text-align: right;
  font-size: 12px;
  padding: 0 12px 0 0 ;
  color: lightgoldenrodyellow ;
  vertical-align: bottom;
  visibility: hidden
}

p.img {
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  visibility: hidden
}

p.link {
  color: white;
}

p.small {
  font-size: 14px;
}

p.micro {
  font-size: 12px;
}

.img:hover{
  color: gold;
}

table {
  border-collapse: collapse;
}


table.full {
  width: 100%;
}

td {
  padding: 0;
}

td.gold {
  width: 60px;
}

td.info {
  padding-left: 20px;
}

.t {
  vertical-align: top;
}

.b {
  vertical-align: bottom;
}

.c {
  vertical-align: middle;
}

.r {
  text-align: right;
}

.l {
  text-align: left;
}

img.showAds {
  width: 150px;
  margin: 5px;
  border-radius: 3px;
  float: left;
}

img.show {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
}

img.show:hover {
  width: 300px;
  transition: width 1s linear;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

li {
  display: inline-block;
}

hr {
  background-color: lightgoldenrodyellow;
  height: 1px;
  border: 0;
  margin: 2px;
}


.center {
  text-align: center;
}

span.x {
  font-size: 40px;
}

li.b {
  display: block;
  background: #009595;
  text-align: left;
}

ul.b {
  display: none;
  background: none;
  padding: 0;
  position: absolute;
  width: 240px;
  margin: 13px 0 0 0;
  box-shadow: 2px 6px 12px 2px gray;
}

ul.b:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid teal;
  margin: 0 0 0 16px;
  border-radius: 0px;
}
