
body {
  padding: 20px;
  font: 20px Comfortaa, Helvetica, Arial, sans-serif;
  color: white;
  background: #247BA7;
}
@font-face {
  font-family: Raleway;
  src: url('../fonts/Raleway-Thin.ttf');
}
.raleway {
  font-family: Raleway, Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: Comfortaa;
  src: url("../fonts/Comfortaa-Light.ttf");
}
.comfortaa {
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
}

select,
textarea,
input {
  border: 0;
  border-radius: 6px;
  margin: 10px;
  font-size: 18px;
  background: WhiteSmoke;
}

textarea {
  padding: 7px;
}

select {
  height: 32px;
  margin-top: 5px;
}

input {
  height: 26px;
  text-indent: 5px;
}

input.title {
  margin: 5px;
}

input.search {
  width: 400px;
  height: 35px;
  border-radius: 10px;
  margin: 5px;
  text-indent: 15px;
}

select:focus,
textarea:focus,
input:focus {
  outline: 0;
  box-shadow: 0 0 3px 5px #008855;
}

input.captcha {
  margin: 8px;
  width: 90px;
  height: 35px;
  font-size: 23px;
  text-align: center;
  text-indent: 0;
}

a {
  border-radius: 10px;
  background: none;
  font-size: 25px;
  color: white;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

a.one {
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

a.two {
  border: 2px solid white;
  margin-left: 60px;
  padding: 10px 30px 10px 30px;
  font-family: Helvetica,  Arial, sans-serif;
}

a.three {
  color: SandyBrown;
  font-size: 30px;
  padding: 30px;
}

a.four {
  border: 2px solid white;
  padding: 5px 15px 5px 15px;
  margin: 3px;
}
a.five {
  border: 3px solid yellowgreen;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  color: yellowgreen;
}

a.six {
  border: 2px solid gold;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  color: gold;
}

a.img {
  padding: 0;
  font-size: 15px;
  margin: auto;
  color: yellow;
}

a.three:hover { color: gold }
a.four:visited { color: gold; border-color: gold }
a.four:hover,
a.one:hover { background: LightSeaGreen }
a.two:hover { background: #ffff4f; color: black }


ul.a {
  list-style-type: none;
}

li.a {
  display: inline;
}

h5 {
  padding: 10px;
  margin: auto;
}

h6 {
  padding-left: 10px;
  padding-top: 10px;
  margin: auto;
  font-size: small;
}

div {
  overflow: auto;
  background-color: #60AB91;
  opacity: 50;
  padding: 20px;
  border: 0;
  border-radius: 20px;
  margin: 20px;
}

div.footer {
  width: 100%;
  margin: 0;
  background: none;
  padding: 0;
}

div.msg {
  background: Teal;
  border-radius: 10px;
  width: 270px;
}

div.category {
  margin: auto;
  padding: 0;
  width: 250px;
}

div.categ {
  margin: 0;
  padding: 10px
}

div.categ:hover {background: seagreen }

div.inv {
  width: 250px;
  padding: 0;
  float: left;
}

div.invCaptcha {
  padding: 0;
  margin: 0;
  width: 230px;
}

div.search {
  padding: 10px 20px 10px 20px;
  width: 530px;
}

div.delete{
  padding: 0;
  margin: 0 45px 0 45px;
}

div.captcha {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: 2px solid;
  border-radius: 15px;
  width: 200px;
}

p {
  padding: 5px;
  font-size: 20px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  margin: auto;
  color: yellow;
}

p.img {
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  visibility: hidden
}

p.img:hover,
a.img:hover{
  color: black;
}

p.small {
  font-size: 15px;
  padding: 0 12px 0 0 ;
  color: SandyBrown;
  vertical-align: bottom;
  font-family: Comfortaa, Helvetica, Arial, sans-serif;
}

button {
  font-size: 21px;
  border: 2px solid white;
  margin: 10px;
  cursor: pointer;
  background: none;
  border-radius: 5px;
  padding: 10px 40px 10px 40px;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: white;
}

button.login:hover,
button.signup:hover,
button:hover {  background: MediumSeaGreen  }

button.search {
  margin: 0;
  background: goldenrod;
  border: 0;
  border-radius: 10px;
  padding: 7px 25px 7px 25px;
}

button.signup {
  background: Peru;
}

button.login {
  background: SteelBlue;
}

td {
  padding: 0;
}

td.img {
  vertical-align: bottom;
}

div.signup {
  width: 350px;
  margin: auto;
}

div.img,
div.fileUpload {
  border: 2px solid white;
  overflow: hidden;
  float: left;
  position: relative;
  margin: 0 10px 0 10px;
  width: 150px;
}

div.img:hover {
  width: 300px;
  transition: width 1s linear;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 300px;
  opacity: 0;
  height: 200px;
  filter: alpha(opacity=0);
}

div.fileUpload:hover { background: #ffff4f }

img.showAds {
  width: 200px;
  margin: 10px;
  border-radius: 10px;
  float: left;

}

img.show {
  width: 200px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px;
}

img.show:hover {
  width: 300px;
  transition: width 1s linear;
}

