extends ../layout

block content

  h1 Ad List:

      each ad, i in ads

          div
              a(href='/ads/#{ad._id}', style='text-decoration: none')
                 img.showAds(src='/images/#{ad.mainphoto}', width=150)
                 h5 #{ad.title}
                 p
                 h5 #{ad.price}